<div class="container">
  <div class="row search-form-div mt-3 mb-5">
    <div class="col-md-4 mx-auto">
      <%= form_with url: search_path, method: :get, remote: false, html: {id: "search-form"} do |form| %>
        <%= form.text_field :query, class: "form-control" %>
      <% end %>
    </div>
  </div>

  <div>
    <div class="row">
      <div class="col-md-8">
        <h2>Articles</h2>
        <div class="article-list">
          <%= render "articles/article_list"%>
        </div>
      </div>
      <div class="col-md-4 saved-searches">
        <h2>Saved Searches</h2>
        <%= render "articles/saved_searches" %>
      </div>
    </div>
  </div>

  <br>
  <%= link_to 'New Article', new_article_path, class: "genereal-btn-styles" %>
</div>

